@import "tailwindcss";

:root {
  --color-bg-primary: #eef0f2;
  --color-bg-secondary: #f0f2f5;
  --color-bg-tertiary: #e4e9f0;
  --color-text-primary: #101418;
  --color-text-secondary: #384452;
  --color-shadow: #00000015;
  --color-highlight: #078f9f;
  --color-bg-navbar: #404144;
}

.dark {
  --color-bg-primary: #101010;
  --color-bg-secondary: #1a1a1a;
  --color-bg-tertiary: #242424;
  --color-text-primary: #ececec;
  --color-text-secondary: #c0c0c0;
  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-highlight: #078f9f;
  --color-bg-navbar: #d0d0d0;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-tertiary: var(--color-bg-tertiary);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-shadow: var(--color-shadow);
  --color-highlight: var(--color-highlight);
  --color-bg-navbar: var(--color-bg-navbar);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility bg-skill-light {
  background-color: #f0f2f5;
}

@utility bg-skill-dark {
  background-color: #1a1a1a;
}
